*{
padding: 0%;
margin: 0%;
}
body{
    background-color:white;
}
.logoBox img{
    width: 50%;
    padding: 20px 0px;
}
.topManue{
    display: flex;
    justify-content: end;
    margin-top: 40px;
}
header{
    height: 100px;
    background-color:rgb(236, 226, 226);
    margin: 20px;
}
.nav-link{
    color: black;
    
}
.banner img{
    height: 500px;
    object-fit: cover;
}
.carousel-caption{
    position: absolute;
    top: 40%;
}
.services-inner-box{
position: relative;
}
.ser-icon {
    width: 30%;
}
.services{
    padding: 100px 0px;
}
.services-number{
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(156, 156, 156);
}
.services-heading{
    font-weight:600px ;
    color: rgb(31, 194, 194);
    font-size: 30px;
}

.boxOne{
    background-color: yellow;

}
.socil-icons{
    display: flex;

}
/* team section */
.pcture-box-1{
border: 1px solid rgb(214, 1, 1);
height: 250px;

}
.pcture-box-1 img{
    height: 250px;

}
.information-box{
    border: 1px solid blue;
    padding: 20px 0px;
    background-color: orange;
}
.name-box{
    color: black;
    font-size: 20px;
    padding-top:20px ;
}
.post-box{
    color: black;
    font-size: 10px;
    padding-top: 20px;
}
.pcture-box-3{
    height: 250px;
    border: 1px solid red;
}
.pcture-box-3 img{
    height: 250px;   
}
.pcture-box-2{
    border: 1px solid blueviolet;
    height: 250px;
}
.pcture-box-2 img{
    height: 250px;
} .pcture-box-4{
    height: 250px;
    border: 1px solid brown;
}
